[submodule "stock-ml-nn"]
	path = stock-ml-nn
	url = git@github.com:fabiankastner/stock-ml-nn.git
	branch = master
[submodule "stock-ml-web"]
	path = stock-ml-web
	url = git@github.com:fabiankastner/stock-ml-web.git
	branch = main
[submodule "stock-ml-db"]
	path = stock-ml-db
	url = git@github.com:fabiankastner/stock-ml-db.git
	branch = master
[submodule "stock-ml-data"]
	path = stock-ml-data
	url = git@github.com:fabiankastner/stock-ml-data.git
	branch = master
[submodule "stock-ml-config"]
	path = stock-ml-config
	url = git@github.com:fabiankastner/stock-ml-config.git
	branch = main
